*.aux
*.log
mainNotesTemplate.bbl
mainNotesTemplate.blg
mainNotesTemplate.glg
mainNotesTemplate.glo
mainNotesTemplate.gls
mainNotesTemplate.ist
mainNotesTemplate.log
mainNotesTemplate.out
mainNotesTemplate.synctex.gz
mainNotesTemplate.toc
